<h1>Register</h1>


<% if @user.errors.any? %>
  <h2>Oops, something went wrong!</h2>

  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end -%>
  </ul>
<% end -%>
<div id="override">
  <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :name, "Full Name:" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Zingelbert Bembledack" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "E-mail:" %>
        <%= f.email_field :email, class: "form-control", placeholder: "me@mydomain.com" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password:" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :country_code %>
        <%= f.text_field :country_code, class: "form-control", placeholder: "+1 - United States",id: "authy-countries" %>
      </div>
      <div class="form-group">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: "form-control", placeholder: "1234567891",id: "authy-cellphone" %>
      </div>
      <button class="btn btn-primary">Submit</button>
  <% end -%>
</div>
