<h1>VPN Gateway</h1>
<p> Enter VPN settings provided by your administration</p>
<div id="override">
<%= form_for @vpnsession do |f| %>
    <div class="form-group">
      <%= f.label :account_name, "Account Name:" %>
      <%= f.text_field :account_name, class: "form-control", placeholder: "ashleymacbookpro" %>
    </div>
    <div class="form-group">
      <%= f.label :shared_secret, "Shared Secret:" %>
      <%= f.password_field :shared_secret, class: "form-control", placeholder: "Wht5mps17p" %>
    </div>
    <div class="form-group">
      <%= f.label :server_address, "Server Address:" %>
      <%= f.text_field :server_address, class: "form-control" , placeholder: "xxx.xxx.x.xx" %>
    </div>
    <div class="form-group">
      <%= f.label :vpn_pw, "Password:" %>
      <%= f.password_field :vpn_pw, class: "form-control" %>
    </div>

    <button class="btn btn-primary">Connect</button>
      </div>
<% end -%>

